.App {
  text-align: center;
}

.myItem{
  background-color: lightseagreen !important;
  color:aliceblue !important;
  font-size: 20px;
}
.myItem:hover{
  
  font-size: 16px;
}
iframe{
  content: flex;
  width: 100% !important;
  height: 90% !important;
  
}
